<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new message</title>
  </head>
  <body>
    <h1>Add new message</h1>
    <form action="/new" method="post">
      <label for="user">User:</label>
      <input type="text" id="user" name="user" required />
      <label for="text">Message:</label>
      <input type="text" id="text" name="text" required />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
