<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message App by HongPhucLe</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="post">
      <label for="user">User:</label>
      <input type="text" id="user" name="username" required />
      <label for="text">Message:</label>
      <input type="text" id="text" name="message" required />
      <button type="submit">Send</button>
    </form>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <strong><%= message.username %></strong>: <%= message.message %>
        <small><%= message.date.toLocaleString() %></small>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
